* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f8;
  color: #222;
}
h1 {
  margin: 1rem;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-bottom: 0.5em;
}

fieldset {
  margin: 1em;
  padding: 1em;
}

input {
  background-color: transparent;
  margin: 1em;
  padding: 1em;
}

button {
  text-transform: uppercase;
  background-color: white;
  border: gray 1px solid;
  padding: 1em;
}
.container {
}

.auto-parts-list {
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.autopart-el {
  padding: 1rem;
  border: #cacaca 1px solid;
}

.autopart-el:hover {
  background-color: rgb(213, 219, 230);
}

.info-text {
  color: rgb(11, 79, 143);
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}
